<nav class="navbar" id="nav-bar">
  <ul class="list-container">
    <span class="navicon" id="navicon"><i class="fas fa fa-navicon"></i></span>
    <h4 style="text-align: center; margin: 1.7em 0; color: #f66">
      <i class="fas fa fa-bar-chart-o"> </i> EPMS <i class="fas fa fa-group"> </i>
    </h4>
    <li class="lists" id="list1"><a href="http://">
      <i class="fas fa fa-home"> </i> {{ navMenu.home | uppercase }}</a>
    </li>
    <li class="lists" id="list1"><a href="http://">
      <i class="fas fa fa-book"> </i> {{ navMenu.services }}</a>
    </li>
    <li class="lists" id="list1"><a href="http://">
      <i class="fas fa fa-cube"> </i> {{ navMenu.about }}</a>
    </li>
    <li class="lists" id="list1">
      <a href="http://"><i class="fas fa fa-comments"> </i> {{ navMenu.comments }}</a>
    </li>
    <li class="lists" id="list1">
      <a href="http://"><i class="fas fa fa-group"> </i> {{ navMenu.tips }}</a>
    </li>
  </ul>
</nav>
