<span id="nav-icon" style="position: fixed; margin: 1em; color: #f66; cursor: pointer; font-size: 25px;">
  <i class="fas fa fa-navicon"></i>
</span>

<main class="main-container" id="main-con">
  <nav class="navbar" id="nav-bar">
    <ul class="list-container">
      <span class="navicon" id="navicon"><i class="fas fa fa-navicon"></i></span>
      <h4 style="text-align: center; margin: 1.7em 0; color: #f66">
        <i class="fas fa fa-bar-chart-o"> </i> EPMS <i class="fas fa fa-group"> </i>
      </h4>
      <li class="lists" id="list1"><a href="http://">
        <i class="fas fa fa-home"> </i> Home</a>
      </li>
      <li class="lists" id="list1"><a href="http://">
        <i class="fas fa fa-book"> </i> Services</a>
      </li>
      <li class="lists" id="list1"><a href="http://">
        <i class="fas fa fa-cube"> </i> About-Us</a>
      </li>
      <li class="lists" id="list1">
        <a href="http://"><i class="fas fa fa-comments"> </i> Leave a Message</a>
      </li>
      <li class="lists" id="list1">
        <a href="http://"><i class="fas fa fa-group"> </i> Help</a>
      </li>
      <li class="lists" id="list1">
        <a href="#" id="mode">
          <i class="fas fa fa-toggle-off" id="off" style="font-size: 30px;"> </i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Login Section -->
  <epm-login id="epm-login"></epm-login>
</main>

